.title{
    color: rgb(153, 0, 255);
    width: 100%;
    text-align: center;
    font-size: 60px;
    letter-spacing: px;
    margin-top: 2px;
    border-bottom: 2px solid rgb(255, 255, 255);
    text-shadow: 0px 3px 10px rgb(153, 0, 255);
}

.wrapAll{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapAll p{
    color: rgb(184, 63, 178);
    background-color: rgb(255, 255, 255);
    padding: 15px 125px;
    border-radius: 999px;
    font-size: 45px;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.wrapResps{
    background-color: rgba(46, 42, 42, 0.747);
    color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    box-shadow:  rgba(0, 0, 0, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;;
    text-shadow: 0px 3px 10px rgb(153, 0, 255);
}

.wrapResps h2{
    font-size: 32px;
    color: rgb(153, 92, 209);
}

.wrapResps h3{
    font-size: 18px;
    color: #ffffff;
}
